.movie-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 200px; 
  height: 300px; 
  margin: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card-img-container {
  position: relative;
  width: 100%;
  height: 70%; 
  overflow: hidden;
}

.movie-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-card-rating {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #01b4e4;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.movie-card-details {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 30%; 
}

.movie-card-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  color: #333;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie-card-date {
  font-size: 0.8rem;
  color: #777;
  margin: 0;
}
