/* Container for the profile page */
.profile-container {
    padding: 0;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Welcome message styling */
  .welcome-message {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Layout for profile content */
  .profile-content {
    display: flex;
    background-color: #d9eafc;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100vh;
    padding: 3px;
    justify-content: space-between;
    gap: 20px;
  }
  
  /* Favorites Section */
  .favorites-section{
    flex: 1 1 45%;
    background: #f9f9f9;
    padding: 0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    /* max-height: 500px; */
  }
  
  /* Section titles */
  .favorites-section h2 {
    margin-top: 0;
    text-align: center;
    color: #0d253f;
  }
  
  /* EDIT Section  */
  .edit-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .edit-section h2 {
    margin-bottom: 10px;
  }
  
  .edit-section input {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 16px); /* Full width minus padding */
  }
  
  .edit-section button {
    padding: 10px;
  }

  .edit-btn{
    color: #01b4e4;
  }
  .edit-btn:hover{
    color: #0d253f;
  }